.card-art {
  border: 1px solid black;
  border-radius: 10px;
  margin: 8px;
  padding: 4px;
}

.name-skill {
  text-align: center;
  color: black;
  font-family: 'Baloo Bhaijaan 2', cursive;
}

.card-art:hover {
  background-color: #198754;
  border: #198754;
}

